:root {
    --desktop-width: 1600px;
    --desktop-wrapper: 1160px;

    --basic-black: #000000;
    --basic--white: #FFFFFF;
    --ecru-white: #F7F3EC;
    --woodsmoke: #111115;
    --christine: #E47209;
    --coral: #F9804B;
    --west-side: #FE9013;
    --golden-fizz: #FFEE2E;
    --outer-space: #333B41;
    --boulder: #767474;
    --black-haze: #F5F7F6;
    --silver: #BDBDBD;
    --limeade: #4B9200;
    --haze: #F1F3F2;
    --red: #D31414;
    --light-grey: #C4C4C4;
    --mako: #404950;
    --slate-grey: #72828E;
    --oslo-grey: #929699;
}
