:root {
    --desktop-width: 1600px;

    --basic-black: #000000;
    --ecru-white: #F7F3EC;
    --woodsmoke: #111115;
    --coral: #F9804B;
    --west-side: #FE9013;
    --golden-fizz: #FFEE2E;
    --outer-space: #333B41;
    --boulder: #767474;
    --black-haze: #F5F7F6;
    --silver: #BDBDBD;
}
