.button {
  width: 298px;
  height: 54px;
  background-color: var(--coral);
  background-image: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
  color: var(--basic--white);
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.button--rounded {
  border-radius: 25px;
}

.button--small {
  width: 62px;
  height: 62px;
  border-radius: 50%;
}

.button:hover {
  background-color: var(--christine);
  background-image: none;
}

.button:active {
  background-color: var(--limeade);
  background-image: none;
}

.button:disabled {
  background-color: var(--boulder);
  background-image: none;
}
