.donation {
  min-height: 1872px;
  background-color: var(--basic-black);
  background-image: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%),
  linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%),
  linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}

.donation__promo {
  max-width: var(--desktop-width);
  margin: 0 auto;
  background-image: url("../../images/giant-panda.jpeg");
  background-repeat: no-repeat;
  height: 390px;
  background-position-y: -197px;
}

.donation__inner-wrapper {
  max-width: var(--desktop-wrapper);
  margin: 0 auto;
  padding-top: 35px;
  padding-bottom: 180px;
}

.donation__title {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 47px;
  color: var(--basic--white);
  margin-top: 0;
  margin-bottom: 10px;
  text-align: left;
  text-transform: uppercase;
}

.donation__description {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic--white);
  text-align: left;
  margin-top: 0px;
  margin-bottom: 50px;
}

.donation__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.3;
  color: #FE9013;
  text-align: left;
  margin-top: 0;
  margin-bottom: 60px;
}

.donation__form {
  margin-bottom: 30px;
}

.donation__slogan {
  margin-top: 0;
  margin-bottom: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: var(--outer-space);
  text-align: center;
}
