.subscription-form__title {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
  color: var(--basic--white);
  margin-top: 0;
  margin-bottom: 14px;
}

.subscription-form__wrapper {
  display: flex;
  flex-direction: row;
}

.subscription-form__input {
  padding: 10px;
  width: 228px;
  height: 42px;
  margin-right: 10px;
  background-color: transparent;
  border-radius: 1px;
  outline: none;
  border: 1px solid var(--coral);
  color: var(--basic--white);
}

.subscription-form__input:focus {
  border-color: var(--limeade);
}

.subscription-form__input:invalid {
  border-color: var(--red);
}

.subscription-form__input::placeholder {
  color: var(--silver);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
}

.subscription-form__submit-button {
  width: 129px;
  height: 42px;
}
