.testimonials__container {
  max-width: var(--desktop-width);
  margin: 0 auto;
  padding: 140px 220px 180px 220px;
}

.testimonials__title {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.3;
  color: var(--outer-space);
  text-align: center;
}

.testimonials__gallery {
  margin: 0 auto 31px auto;
}
